.demoimg_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: space-around;
}

.demoimg_div img {
  width: 50%;
  height: auto;
  border-radius: 30px;
}

@media screen and (max-width: 650px) {
  .demoimg_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
  }

  .demoimg_div img {
    width: 100%;
    border-radius: 10px;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .demoimg_div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    align-content: center;
  }

  .demoimg_div img {
    width: 100%;
    border-radius: 10px;
    height: auto;
  }
}
