.achivement-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
  margin-bottom: 30px;
}

#cover {
  display: flex;
  align-content: space-between;
  justify-content: space-between;

  gap: 1px;
}



#cover img {
  width: 45%;
  height: auto;
  border-radius: 20px;
}

#cover img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

@media screen and (max-width: 700px) {
  #cover {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  #cover img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .achivement-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}

@media screen and (max-width: 550px) {
  .achivement-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
