.splash-screen {
  display: flex !important;

  flex-direction: column;
  height: 100vh;
  align-items: center !important;
  align-content: center !important;
  justify-content: center;
}
.splash-screen img {
  width: 10%;
  height: auto;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}
